<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cadastro de Produtos</title>
</head>
<body>
<form action="#" th:action="@{/salvarProduto}" th:object="${produto}" method="post">
    <table border="1">
        <tr>
            <td>Nome</td>
            <td>Preço</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>