<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
	 <title>Cadastro de Produtos</title>
	 <link href="../static/css/bootstrap.css" rel="stylesheet" 
		th:href="@{/css/bootstrap.css}"/>
  </head>
  <body>
   <div class="container">
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
    	<h1 class="display-4">Cadastro de Produtos</h1>
  	</div>
   </div>
  
	<form action="#" th:action="@{/produtos/novo}" th:object="${produto}" method="post">

	 <div class="form-group">
	    <label for="nome">Nome Produto</label>
	    <input type="text" class="form-control" id="nomeProduto" name="nome"/>
		    
	  </div>
	  
	  <div class="form-group">
	    <label for="preco">Preço</label>
	    <input type="number" class="form-control" name="preco" id="precoProduto"/>
	  </div>
	
	<div class="form-group">
	    <label for="quantidade">Quantidade</label>
	    <input type="number" class="form-control" name="quantidade" id="quantidade"/>
	  </div>
	 
	  <input type="submit" class="btn btn-primary" value="Gravar"/>
	
	</form>
	
  </div>
 </body>
</html>